/**
 * The CSS File for styling the application.
 * 
 * @author Kevin Filanowski
 * @author Jacob Ginn
 * @author Matt Lutz
 * @version April 20, 2019
 */

 /**Styles for the slider control**/
 .slider_title, .value_title{
 	-fx-font-family:  arial, helvetica, sans-serif;
 }

 .slider_title{
 	-fx-font-size: 27px;
 	-fx-padding: 5 5 20 5;
 }


 .value_title, .text_input{
 	-fx-border-width: 20px;
 }

 .value_title{
 	-fx-font-size: 14px;
 }


 .text_input{
 	-fx-max-width: 50px;
 }

 /**Styles for ColorChooser */
 .color{
 	-fx-background-color: #000000;
 	-fx-border-radius: 0;
 	-fx-border-width: 1;
 	-fx-background-insets: 10 10 10 10;

 }

 .color_text{
 	-fx-font-size: 24px;
 }


#ranks {
    -fx-background-color: #ffe1b4;
    -fx-border-width: 0 5 0 0;
    -fx-border-color: black;
}

#files {
    -fx-background-color: #ffe1b4;
    /*-fx-border-width: 0 0 5 0;*/
    -fx-border-color: red;
}

/**Screen styles */
/*#Screen1{
	-fx-background-color: linear-gradient(#ffe1b4, #7d3c0e);
}*/

#board {
    -fx-background-color: black;
}

.toggleButton {
    -fx-border-radius: 0;
    -fx-background-radius : 0;
    -fx-background-color: rgb(230, 230, 230);
}

.toggleButton:hover {
    -fx-background-color: rgb(220, 220, 220);
    /*-fx-effect: dropshadow(three-pass-box, rgb(220, 220, 220), 5, 0, 0, 10);*/
}

.toggleButton:pressed {
    -fx-background-color: red;
}

.toggleButton:selected {
    -fx-background-color: black;
}

.playerLabel {
    -fx-font-size: 24;
}

.gameScreenTopButtons {
    -fx-border-radius: 0;
    -fx-background-radius : 0;
    -fx-background-color: rgb(230, 230, 230);

}

.gameScreenTopButtons:hover {
    -fx-background-color: rgb(220, 220, 220);
}



.whitePane {
    -fx-background-color: #ffe1b4;
    -fx-border-color: #ffe1b4;
    -fx-border-width: 15;
}

.whitePane:hover {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-effect: innershadow(three-pass-box, black, 12, .3, 0, 0);

}

.blackPane {
    -fx-background-color: #7d3c0e;
    -fx-border-color: #7d3c0e;
    -fx-border-width: 15;
}

.blackPane:hover {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-effect: innershadow(three-pass-box, black, 12, .3, 0, 0);
}

.showMoves {
    -fx-background-color: #62e43b;
    -fx-cursor: hand;
}

.piece:hover {
    -fx-cursor: hand;
}

.selected {
    -fx-border-color: #62e43b;
    -fx-border-width: 2;
}

/**Buttton Styles */

.buttonStyleA{
     -fx-background-color: linear-gradient(#ffffff, #ffffff);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}


.buttonStyleA:armed{
    -fx-background-color: linear-gradient(#ff5400, #0e1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}



.buttonStyleB{
	-fx-background-color: linear-gradient(#0054ff, #001dbe);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}


.buttonStyleB:armed{
	 -fx-background-color: linear-gradient(#0054ff, #001d0e);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.buttonStyleC{
	 -fx-background-color: linear-gradient(#54ff54, #1d7e1d);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}


.buttonStyleC:armed{
	-fx-background-color: linear-gradient(#54ff54, #0e1d0e);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}




.buttonSizeS{
    -fx-min-width: 100px;
    -fx-min-height: 20px;
    -fx-max-width: 120px;
    -fx-max-height: 30px;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
}

.buttonSizeS2{

    -fx-min-width: 40px;
    -fx-min-height: 20px;
    -fx-max-width: 120px;
    -fx-max-height: 30px;
    -fx-pref-width: 50px;
    -fx-pref-height: 25px;
}

.buttonSizeM{
    -fx-min-width: 200px;
    -fx-min-height: 20px;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
}


.buttonSizeL{
    -fx-min-width: 300px;
    -fx-min-height: 40px;
    -fx-max-width: 300px;
    -fx-max-height: 80px;
    -fx-pref-width: 300px;
    -fx-pref-height: 60px;
}

/**Label styles */
.screenTitle{
	-fx-font-size: 50px;
	-fx-font-family: arial, helvetica, sans-serif;
	-fx-text-fill: #ffffff;
}

#Screen1{
    -fx-background-image: url("/images/chessPieces/wood.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 2000 2000;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


.whiteButton{
    -fx-background-color: #ffffff;
    -fx-border-color: #040404;
}

.blackButton{
    -fx-background-color: #000000;
    -fx-border-color: #404040;

}

#pane{
    -fx-background-image: url("/images.chessPieces/wood.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 2000 2000;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.checkBox{

    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 20px;
    -fx-max-height: 30px;
    -fx-pref-width: 20px;
    -fx-pref-height: 25px;
}

.textField{

    -fx-min-width: 120px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

/**Text field styles */
.mainLabel{
    -fx-font-size: 50px;
    -fx-font-family: arial, helvetica, sans-serif;
    -fx-text-fill: #ffffff;
}

.mediumLabel{
	-fx-font-size: 25px;
	-fx-font-family: arial, helvetica, sans-serif;
	-fx-text-fill: #ffffff;
}


.regularLabel{
	-fx-font-size: 20px;
	-fx-font-family: arial, helvetica, sans-serif;
	-fx-text-fill: #ffffff;
}



